@import './variables'

.orderOnline 
    grid-column: 2/8 
    display grid  
    grid-template-columns: 2fr 2fr
    grid-template-rows: 300px 100px 850px 100px 275px 100px 400px 100px 725px 100px 250px 125px 325px 125px 325px 100px 275px 125px 700px 125px 800px 125px 300px
    background-color: bgcV

.onlineImg 
    grid-column: 1/4
    background: url('images/online.jpg') center no-repeat
    transform: scaleX(1.333)
    text-align: center
    h1
        font-size: 40px
        font-weight: 300
        margin-top: 125px
        color white 
        text-shadow: 4px 4px 8px #000000