@import './variables'

.ourMenu 
    grid-column: 2/8 
    display grid  
    grid-template-columns: 2fr 2fr
    grid-template-rows: 300px 100px 850px 100px 275px 100px 400px 100px 725px 100px 250px 125px 325px 125px 325px 100px 275px 125px 700px 125px 800px 125px 300px
    background-color: bgcV

.ourMenuImg 
    grid-column: 1/4
    background: url('images/ourMenu.jpg') center no-repeat
    transform: scaleX(1.333)
    text-align: center
    h1
        font-size: 40px
        font-weight: 300
        margin-top: 125px
        color white 
        text-shadow: 4px 4px 8px #000000
        



.appetizers-left
    grid-column: 1/2
    grid-row: 3/4
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.appetizers-right
    grid-column: 2/4
    grid-row: 3/4
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.burritos-left 
    grid-column: 1/2
    grid-row: 5/6
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.burritos-right
    grid-column: 2/4
    grid-row: 5/6
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.enchiladas-left
    grid-column: 1/2
    grid-row: 7/8
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.enchiladas-right
    grid-column: 2/4
    grid-row: 7/8
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.entrees-left
    grid-column: 1/2
    grid-row: 9/10
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.entrees-right
    grid-column: 2/4
    grid-row: 9/10
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.fajitas-left 
    grid-column: 1/2
    grid-row: 11/12
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.fajitas-right
    grid-column: 2/4
    grid-row: 11/12
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.headings 
    h4 
        margin-top: 0

.postres-left  
    grid-column: 1/2
    grid-row: 13/14
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.postres-right
    grid-column: 2/4
    grid-row: 13/14
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.quesadillas-left
    grid-column: 1/2
    grid-row: 15/16
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.quesadillas-right
    grid-column: 2/4
    grid-row: 15/16
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.sides-left 
    grid-column: 1/2
    grid-row: 17/18
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.sides-right
    grid-column: 2/4
    grid-row: 17/18
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.sopas-left 
    grid-column: 1/2
    grid-row: 19/20
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.sopas-right
    grid-column: 2/4
    grid-row: 19/20
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.street-tacos-left
    grid-column: 1/2
    grid-row: 21/22
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.street-tacos-right 
    grid-column: 2/4
    grid-row: 21/22
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.tortas-left
    grid-column: 1/2
    grid-row: 23/24
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100

.tortas-right
    grid-column: 2/4
    grid-row: 23/24
    padding luPad
    h2 
        display inline-block 
        margin-bottom: 0
    span 
        float right
        margin-top: 25px
    h3 
        margin-top: 0
    h4 
        margin: 5px
        font-weight: 100


        