primary = #333333
secondary = #00004d
borderC = solid 1px grey
headerC = #f7e5d2
headerFont = 'haymakerregular', sans-serif;
blanch = 'blanchcaps_inline', sans-serif;
borderP = solid 1px black
sideColor = #28afc9 
nameColor = #dc1d24
bgcV = rgba(255,255,255,1)
luPad = 0 15px 0 15px